@import url(./reset.css);

/* Paleta de colores

:root {
  A definir
} */

/* Estructura global de estilos de pagina */

/* Estructura de grilla de la pagina */

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 10vh repeat(4, 1fr);
  height: auto;
}

/* Logo, barra de navegacion, menu */

header {
  background-color: chartreuse;
  grid-column: span 4;
  grid-row: span 1;
  position: sticky;
  top: 0;
  display: flex;
  height: 10vh;
}

h1 {
  display: flex;
}

h1 img {
  margin: 5%;
  height: 80%;
  display: block;
}

.navegador-inicio ul {
  display: flex;
  width: 90vw;
  max-width: 70%;
  margin: auto;
  height: 100%;
}

.navegador-inicio ul li {
  margin: auto;
  justify-content: space-around;
  text-align: center;
  text-transform: uppercase;
}

.navegador-inicio ul li:hover {
  transform: scale(105%);
  transition: 250ms;
}

.navegador-inicio ul li:not(:hover) {
  transform: scale(1);
  transition: 200ms;
}

.navegador-inicio a {
  text-decoration: none;
  color: black;
}

.navegador-inicio a:hover {
  color: rgb(0, 155, 198);
}

.navegador-inicio a:hover {
  transition: 250ms;
  text-shadow: 3px 1px 5px rgba(56, 52, 52, 0.522);
  opacity: 0.7;
}

.navegador-inicio a:not(:hover) {
  transition: 200ms;
  text-shadow: none;
  opacity: 1;
}

/* Contenido principal */

main {
  background-color: brown;
  grid-column: span 4;
  grid-row: span 4;
  display: flex;
}

main .contenido {
  height: fit-content;
}

.apartado {
  background-color: aquamarine;
  width: 25%;
  height: inherit;
}

.contenido {
  background-color: blueviolet;
  width: 75%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
}

.contenido > .seccion {
  margin-top: 2%;
}

.seccion {
  background-color: deeppink;
  /* grid-column: span 1;
  grid-row: span 1; */
  width: 90%;
  margin: auto;
  border-radius: 20px;
}

/* .inicio, .nosotros, .servicios, .contacto {
  grid-column: span 3;
  grid-row: span 1;
} */

.seccion h3, p {
  margin: 1%;
}

.lista-servicios {
  display: flex;
  flex-flow: wrap;
}

.lista-servicios img {
  height: 10vh;
  margin: 10px;
}

.contacto form {
  margin: 10px;
}

/* Pie de pagina */

footer {
  background-color: blue;
  grid-column: span 4;
  grid-row: span 1;
  align-items: center;
  justify-content: center;
}

.lista-general-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  margin: auto;
}

.lista-general-footer ul {
  background-color: deepskyblue;
}

.lista-individual-footer {
  width: 20vw;
}